- content_for :title, t(".page_title")

.p-4.space-y-6
  = turbo_frame_tag "onboarding-banner", style: "display: contents" do
    = render "shared/onboarding_banner",
      step: 1,
      title: t(".title"),
      description: t(".description"),
      next_path: (onboarding_games_path if EmulatorProfile.user_selected.exists?),
      next_label: t(".next_step")

  = render "emulator_profiles/profiles_list", selected_by_system: @selected_by_system, in_use_systems: @in_use_systems
