DB_HOST=postgres
DB_USERNAME=emuvault
DB_PASSWORD=emuvault
DB_NAME=emu_vault_development

REDIS_URL=redis://redis:6379/0

ADMIN_EMAIL=admin@emuvault.local
ADMIN_PASSWORD=changeme

HUB_URL=http://selenium-hub:4444/wd/hub
APP_HOST=app

SE_EVENT_BUS_HOST=selenium-hub
SE_EVENT_BUS_PUBLISH_PORT=4442
SE_EVENT_BUS_SUBSCRIBE_PORT=4443

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
