= turbo_stream.replace dom_id(@profile, :form), partial: "emulator_profiles/form", locals: { profile: @profile, url: emulator_profile_path(@profile), method: :patch, form_id: dom_id(@profile, :edit_form) }
