= turbo_stream.update :library_modal_frame, partial: "emulator_profiles/library_system_step"
= turbo_stream.update "library-next-btn", partial: "emulator_profiles/library_next_btn", locals: { is_last: @remaining.empty? }
