- if @notice_text
  = turbo_stream.remove @game
  = turbo_stream.update "onboarding-banner" do
    = render "shared/onboarding_banner",
      step: 2,
      title: t("onboarding.games.index.title"),
      description: t("onboarding.games.index.description"),
      back_path: onboarding_emulator_profiles_path,
      next_path: (onboarding_completion_path if Game.exists?),
      next_label: t("onboarding.games.index.complete"),
      next_method: (Game.exists? ? :post : nil)

- flash_type = @notice_text ? :notice : :alert
- flash_message = @notice_text || @alert_text
= turbo_stream.append "flash-container", ::Layouts::FlashComponent::Item.new(type: flash_type, message: flash_message)
