= render "shared/scan_paths_list", scan_paths: scan_paths

%details{ class: scan_paths.any? ? "mt-4" : nil }
  %summary.text-sm.text-primary.cursor-pointer.font-medium
    = render UI::IconComponent.new(name: "fa-plus", class: "mr-1")
    = "Add scan path"
  .mt-3
    = render "scan_paths/form"
