= turbo_stream.update :scan_paths, partial: "scan_paths/section", locals: { scan_paths: @scan_paths }
= turbo_stream.append "flash-container", ::Layouts::FlashComponent::Item.new(type: :notice, message: @notice_text)
