%div{ data: { load_more_list: true } }
  = render partial: "games/game_list_item", collection: games, as: :game

%div{ data: { load_more_cards: true } }
  = render partial: "games/game_card", collection: games, as: :game
