- selected_sort = local_assigns.fetch(:selected_sort, nil)
- selected_system = local_assigns.fetch(:selected_system, nil)
- pagy = local_assigns.fetch(:pagy, nil)

%div{ class: "hidden", data: { view_toggle_target: "listView" } }
  = render "games/games_section",
    games: games,
    selected_sort: selected_sort,
    selected_system: selected_system,
    item_partial: "games/game_list",
    container_class: "space-y-2",
    container_data: { load_more_target: "listContainer" }

%div{ class: "hidden", data: { view_toggle_target: "cardView" } }
  = render "games/games_section",
    games: games,
    selected_sort: selected_sort,
    selected_system: selected_system,
    item_partial: "games/game_card_grid",
    container_data: {}

- if pagy && pagy.page < pagy.pages
  .flex.justify-center.py-4{ data: { load_more_target: "sentinel" } }
    %span.loading.loading-spinner.loading-md.text-primary
