%div{ id: dom_id(game), class: "rounded-lg border bg-base-100 border-base-300 flex items-center overflow-hidden" }
  .flex-1.min-w-0.p-4.flex.items-center.gap-3
    .min-w-0
      .text-base.font-semibold.truncate
        = game.title
      .mt-1
        = render ::UI::BadgeComponent.new(color: game.system_badge_color) do
          = game.system_label

  = render ::UI::ConfirmComponent.new(id: dom_id(game, :remove),
    title: t(".remove_title"),
    message: t(".remove_message", title: game.title),
    url: onboarding_game_path(game),
    trigger_label: t(".remove"),
    trigger_variant: :ghost,
    trigger_icon: "fa-trash-can",
    trigger_class: "text-error",
    confirm_label: t(".remove"))
