- if @notice_text
  = turbo_stream.remove @game
  = turbo_stream.update "games-filters", partial: "games/filters", locals: { games_count: @games_count, system_options: @system_options, selected_system: nil, selected_sort: @selected_sort }
  = turbo_stream.update :quick_sync_content, partial: "shared/quick_sync_content"

- flash_type = @notice_text ? :notice : :alert
- flash_message = @notice_text || @alert_text
= turbo_stream.append "flash-container", ::Layouts::FlashComponent::Item.new(type: flash_type, message: flash_message)
