%div{ id: "flash-container", class: "fixed space-y-2 flash-container z-[60] left-4 right-4 lg:top-4 lg:left-auto lg:right-4 lg:w-80" }
  - @flash.each do |type, message|
    = render ::Layouts::FlashItemComponent.new(type: type, message: message)
