- if @flash.any?
  .fixed.z-50.space-y-2{ class: "bottom-4 left-4 right-4 lg:bottom-auto lg:top-4 lg:left-auto lg:right-4 lg:w-80" }
    - @flash.each do |type, message|
      = render ::Layouts::FlashItemComponent.new(type: type, message: message)
